#msgLotto > span {
    display: inline-flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px;

    border-radius: 50%;
    justify-content: center;
    align-items: center;

    font-size: 15px;

    margin-bottom: 20px;

}

.spplus {
    color: black;
    font-weight: bold;
    font-size: xx-large;
}


.sp0 {
    background-color: brown;
    color: white;
}

.sp1 {
    background-color: chocolate;
    color: white;
}

.sp2 {
    background-color:gold;
    color: white;
}

.sp3 {
    background-color:green;
    color: white;
}

.sp4 {
    background-color:darkblue;
    color: white;
}
